<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width maximum-scale=1 initial-cale=1.0"
    />
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/find-donations.css" />
    <link rel="stylesheet" href="/styles/navBar.css" />
    <link rel="stylesheet" href="/styles/notificationModal.css" />
    <link rel="stylesheet" href="/styles/incident-notification.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Find Donations</title>
  </head>
  <body>
    <div class="container">
      <h2><strong>Find Donations</strong></h2>

      <table id="donation-table"></table>
      <br />
      <button type="button" class="post-btn" onclick="startPrivateChat()">
        Request
      </button>
      <br />
      <br />
      <br />
      Could not find what you need?<br /><br />
      Contact: <br />
      ESN SB1 NGO<br />
      email: sb1ngo@esn.com<br />
      phone: +1(408)6723344
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.5/dayjs.min.js"></script>
  <script src="/js/cookie.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/incidentNotification.js"></script>
  <script src="/js/notificationModal.js"></script>
  <script src="/js/format.js"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/navBar.js"></script>
  <script src="/js/footer.js"></script>
  <script src="/js/findDonations.js"></script>
</html>
