<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width maximum-scale=1 initial-cale=1.0"
    />
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/navBar.css" />
    <link rel="stylesheet" href="/styles/measure-performance.css" />
    <link rel="stylesheet" href="/styles/notificationModal.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Measure Performance</title>
  </head>
  <body>
    <div class="container">
      <h2><strong>Measure Performance Report</strong></h2>
      <h3>
        <strong><u>POST Performance</u></strong>
      </h3>
      <h4>Number of POST requests completed per second:</h4>
      <div class="post-performance"></div>
      <h3>
        <strong><u>GET Performance</u></strong>
      </h3>
      <h4>Number of GET requests completed per second:</h4>
      <div class="get-performance"></div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.5/dayjs.min.js"></script>
  <script src="/js/cookie.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/notificationModal.js"></script>
  <script src="/js/measurePerformanceReport.js"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/navBar.js"></script>
  <script src="/js/footer.js"></script>
  <script src="/js/format.js"></script>
</html>
