<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width maximum-scale=1 initial-cale=1.0"
    />
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/navBar.css" />
    <link rel="stylesheet" href="/styles/publicwall.css" />
    <link rel="stylesheet" href="/styles/announcements.css" />
    <link rel="stylesheet" href="/styles/notificationModal.css" />
    <link rel="stylesheet" href="/styles/incident-notification.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Post Announcement</title>
  </head>
  <body>
    <div class="container">
      <h2>Announcements</h2>
      <div
        class="announcement-container announcement-list"
        id="notification-list"
      ></div>
      <form id="announcement-form">
        <textarea
          type="text"
          rows="5"
          placeholder="Write an Announcement..."
          id="announcement-text"
          class="inputbox"
          onkeyup="stoppedTyping()"
        ></textarea
        ><br />
        <button
          type="button"
          class="post-btn"
          id="post-announcement-btn"
          disabled
          onclick="postAnnouncement()"
        >
          Post
        </button>
      </form>
      <button
        type="button"
        class="post-btn"
        id="load-more"
        onclick="loadMore()"
      >
        Load More
      </button>
      <p id="no-data"></p>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.11.0/qs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.5/dayjs.min.js"></script>
  <script src="/js/cookie.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/incidentNotification.js"></script>
  <script src="/js/notificationModal.js"></script>
  <script src="/js/format.js"></script>
  <script src="/js/postAnnouncement.js"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/navBar.js"></script>
  <script src="/js/footer.js"></script>
</html>
