<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width maximum-scale=1 initial-cale=1.0"
    />
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/welcome.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>ESN Welcome</title>
  </head>
  <body>
    <header>
      &nbsp;
      <h2>Emergency Social Network</h2>
      &nbsp;
    </header>
    <div class="popup">
      <h2><strong>Welcome to Emergency Social Network!</strong></h2>
      <p>
        Emergency Assist welcomes you to your one stop solution for all
        emergencies. <br />Ask for help with the click of a button and chat with
        your friends and peers. <br />Share your current status with friends and
        peers.
      </p>
      <br /><br />
      <p>Statuses allowed:</p>
      <table>
        <tr>
          <td>
            <img class="statusicon" src="../icons/Red.png" alt="Red Icon" />
          </td>
          <td>
            <p>
              <strong>Emergency: </strong>I need help now. This is a life
              threatening emergency!
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img class="statusicon" src="../icons/Yellow.png" alt="Red Icon" />
          </td>
          <td>
            <p>
              <strong>Help: </strong>I need help, but this is not a life
              threatening emergency.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img class="statusicon" src="../icons/Green.png" alt="Red Icon" />
          </td>
          <td>
            <p><strong>OK: </strong>I am OK. I do not need help.</p>
          </td>
        </tr>
      </table>
      <p>
        This app is only intended for help during emergencies. Please refrain
        from sharing emergency status unnecessarily.
      </p>
      <br /><br />
      <button id="readbutton">I have read the terms and conditions.</button>
    </div>
  </body>
  <script src="/js/welcome.js"></script>
  <script src="/js/footer.js"></script>
</html>
